<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Build From Zero | Demo for Jesie <3 !
  </h1>
</div>
  <br>
<ul *ngIf="Data">
  <div *ngFor="let item of Data.results">
    <button type="button" class="btn btn-link"> <h3>{{item.title}}</h3></button>
   
    <h3>{{item.id}}</h3>
    <h4>{{item.slug}}</h4>
    <p><small> - {{item.writer}}</small></p>
  </div>
 
</ul>
<ul *ngIf="Project">
  <li *ngFor="let sample of Project.results">
    <h2>{{sample.title}}</h2>
    <h3>{{sample.id}}</h3>
    <h4>{{sample.slug}}</h4>
    <p><small> - {{sample.tags}}</small></p>
  </li>
 
</ul>

