<!--The content below is only a placeholder and can be replaced.-->




    <div class="container"></div>
    
<div class="container">
    <div class="row">
      
      <div class="col-12 col-md-12">

          <div style="text-align:center">
              <br>
              <div class="shadow-none p-3 mb-5 bg-light rounded border border-danger">
                <h1>
                  Build From Zero | Demo for my Jesie 
              </h1>
            </div>
            </div>
              <br>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tutorials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Blog</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
            
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div *ngIf="Data">
                      <div class="card" *ngFor="let item of Data.results">
                          <div class="card-body">
                            <button type="button" class="btn btn-link" (click)="onClick(item.slug)" data-toggle="modal" data-target=".bd-example-modal-lg"> 
                              <h3>{{item.title}}</h3>
                            </button>
                              <p><a href="#" class="text-danger bg-light"><small> - {{item.writer}} </small></a></p>
                          </div>
                      </div>
                      <br>
                    </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                
                    <div *ngIf="Project">
                        <div class="card" *ngFor="let sample of Project.results">
                            <div class="card-body">
                              <button type="button" class="btn btn-link"> <h3>{{sample.title}}</h3></button>
                                <p><a href="#" class="text-danger bg-light"><small> - {{sample.tags}}</small></a></p>
                            </div>
                        </div>
                        <br>
                      </div>
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>


      </div>


      
    </div>
  </div>


  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{TutorialDetail.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              
                    {{TutorialDetail.content}}
              
              </div>
        </div>
      </div>
    </div>








